<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA_Compatible" content ="ie=edge">

	<title>Index Ujian Praktikum Arjun Yuda Firwanda 1174008</title>

</head>
<body>
	<h1>Here are you users:_Arjun Yuda Firwanda 1174008</h1>
	<ol>
		{% for u in users %}
		<li>
			User Info
			<ul>
				<li>First Name : {{u.firstname}}</li>
				<li>Last Name : {{u.lastname}}</li>
				<li>Email : {{u.email}}</li>
			</ul>
		</li>
		{% endfor %}

	</ol>

</body>
</html>