<html>
<head>
    <title>Users Ujian Praktikum NICO EKKLESIA SEMBIRING_1174096</title>
</head>

<body>
    <h1>Here are your Users:_NICO EKKLESIA SEMBIRING_1174096</h1>

    <ol type="1">
        {% for cek in hasil %}
        <li>User Info</li>
        <ul>
            <li>First Name : {{cek.firstname}}</li>
            <li>Last Name : {{cek.lastname}}</li>
            <li>Email : {{cek.usermail}}</li>
        </ul>
        {% endfor %}
    </ol>
</body>
</html>